@font-face {
    font-family: 'Aesthico';
    src: url('fonts/Aesthico.woff') format('woff');
}

@font-face {
    font-family: "Caviar Dreams";
    src: url('fonts/CaviartDreams.ttf') format('typeface');
}

@font-face {
    font-family: "Mourgen";
    src: url('fonts/Mourgen.otf') format('opentype');
}

@font-face {
    font-family: "Enigma Bold";
    src: url('fonts/EnigmaBold.otf') format('opentype');
}

body {
    background-color: black;
    box-shadow: inset 0 0 0 1px white;
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}


p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Caviar Dreams';
}

li {
    font-family: 'Enigma Bold';
    list-style: none;
}


